
@if (IsVisible)
{
    <div class="loading-overlay">
        <div class="spinner"></div>
    </div>
}

@code {
    [Inject]
    private LoadingScreenService LoadingScreenService { get; set; }

    private bool IsVisible = false;

    protected override void OnInitialized()
    {
        LoadingScreenService.OnShow += Show;
        LoadingScreenService.OnHide += Hide;
    }

    private void Show()
    {
        IsVisible = true;
        StateHasChanged();
    }

    private void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public void Dispose()
    {
        LoadingScreenService.OnShow -= Show;
        LoadingScreenService.OnHide -= Hide;
    }
}
