@rendermode InteractiveServer
@implements IDisposable

@if (IsVisible)
{
    <div class="loading-overlay">
        <div class="spinner"></div>
    </div>
}

@code {
    [Inject]
    private LoadingScreenService LoadingScreenService { get; set; }
    private bool IsVisible = false;

    protected override void OnInitialized()
    {
        LoadingScreenService.OnShow += ShowAndHide;
    }

    private async void ShowAndHide()
    {
        IsVisible = true;
        InvokeAsync(StateHasChanged);
        await Task.Delay(5000);
        IsVisible = false;
        InvokeAsync(StateHasChanged);
    }


    public void Dispose()
    {
        LoadingScreenService.OnShow -= ShowAndHide;
    }
}
