@page "/albums"
@rendermode InteractiveServer

<PageTitle>Albums</PageTitle>

<h1>Albums</h1>

@*
 <h1>
    Albums
    <button class="btn btn-primary" @onclick="NavigateToAddEditAlbum"><i class="bi bi-plus-lg"></i></button>
</h1> *@

@code {
    
}
