@page "/bands/editband/{Name}/{Origin}/{YearsActive}/{GenreName}"
@using MusicAlbumsShop.Shared.DTOs
@rendermode InteractiveServer
@attribute [StreamRendering]

<h3>Edit Band</h3>
<AlertMessage Message="@message"></AlertMessage>

<section>

    <div class="row mt-2">
        <label class="text-muted">Name</label>
        <InputText class="form-control" @bind-Value=Name />

    </div>

    <div class="row mt-2">
        <label class="text-muted">Origin</label>
        <InputText class="form-control" @bind-Value=Origin />
    </div>

    <div class="row mt-2">
        <label class="text-muted">Years Active</label>
        <InputText class="form-control" @bind-Value=YearsActive />
    </div>

    <div class="row mt-2">
        <label class="text-muted">Genre</label>
        <InputSelect class="form-select" @bind-Value=GenreId>
            @foreach (var g in _genresAndIds)
            {
                <option value="@g.GenreId">@g.Name</option>
            }
        </InputSelect>
    </div>

    <button class="btn btn-primary mt-3" @onclick="Save">Save</button>
</section>


@code {
    protected override async Task OnInitializedAsync()
    {
        _genresAndIds = await _apiClientService.GetGenres();
        var bandGenre = _genresAndIds.Where(g => g.Name == GenreName).LastOrDefault();
        GenreId = bandGenre.GenreId;


    }

    protected override void OnParametersSet()
    {
        var bandName = Name;
    }

    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Origin { get; set; }
    [Parameter]
    public string YearsActive { get; set; }
    [Parameter]
    public string GenreName { get; set; }
    public int GenreId { get; set; }


    private ApiClientService _apiClientService = new ApiClientService();
    private GenreWithTitle[] _genresAndIds = new GenreWithTitle[] { };
    private BandDetails band = new BandDetails();

    string message = "";

    public async Task Save()
    {
        await _apiClientService.AddBandAsync(Name, Origin, YearsActive, GenreId);
        message = "Band updated successfully";
    }

}
